<div class="clearfix <?= $this->cssClass ?>" id="<?= $this->getId('clearfix') ?>"></div>

<script>
jQuery(function ($) {
  $("#<?= $this->getId('clearfix') ?>").parent().css({ paddingBottom: 0 });
});
</script>